<head>
    <%- partial('plugins/google-analytics') %>
    <%- partial('plugins/tajs') %>
    <%- partial('plugins/baidu') %>
    <meta charset="utf-8">
    <% if(theme.google_site_verification){ %>
    <meta name="google-site-verification" content="<%- theme.google_site_verification%>">
    <% }%>
    <% if(theme.canonical){ %>
    <link rel="canonical" href="<%- (theme.canonical + url_for(page.path)).replace(/index\.html$/, '') %>">
    <% }%>
    <%
        var title = page.title;

        if (is_archive()){
            title = theme.archives_title || 'Archives';

            if (is_month()){
            title += ': ' + page.year + '/' + page.month;
            } else if (is_year()){
            title += ': ' + page.year;
            }
        } else if (is_category()){
            title = (theme.categories_title || 'Categories') + ': ' + page.category;
        } else if (is_tag()){
            title = (theme.tags_title || 'Tags') + ': ' + page.tag;
        }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %><% if (config.subtitle){ %> | <%= config.subtitle %><% } %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if(theme.color){ %>
    <meta name="theme-color" content="<%=theme.color%>">
    <% } %>
    <%
        var keyWords = config.keywords;
        if(page.tags){
        keyWords = [];

        _.isArray(page.tags) ? ( keyWords = page.tags )
            : page.tags.each(function(k){
                keyWords.push(k.name);
            });
    }
    %>
    <meta name="keywords" content="<%= keyWords %>">
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
    <% if ((config.feed) && (config.feed.path.length)) { %>
        <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%- url_for(config.feed.path) %>">
    <% } %>
    <link rel="shortcut icon" href="<%- url_for(theme_image('/img/icon/favicon.ico', cache)) %>" type="image/x-icon" />
    <link rel="apple-touch-icon" href="<%- url_for(theme_image('/img/icon/apple-touch-icon.png', cache)) %>" />
    <link rel="apple-touch-icon" sizes="57x57" href="<%- url_for(theme_image('/img/icon/apple-touch-icon-57x57.png', cache)) %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for(theme_image('/img/icon/apple-touch-icon-72x72.png', cache)) %>" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme_image('/img/icon/apple-touch-icon-76x76.png', cache)) %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for(theme_image('/img/icon/apple-touch-icon-114x114.png', cache)) %>" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for(theme_image('/img/icon/apple-touch-icon-120x120.png', cache)) %>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for(theme_image('/img/icon/apple-touch-icon-144x144.png', cache)) %>" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for(theme_image('/img/icon/apple-touch-icon-152x152.png', cache)) %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for(theme_image('/img/icon/apple-touch-icon-180x180.png', cache)) %>" />
    <link rel="stylesheet" href="<%- url_for(theme_css('/css/style', cache)) %>">
    <script>window.lazyScripts=[]</script>

    <!-- custom head -->
    <% if (site.data.head) { %>
        <% for (var i in site.data.head) { %>
            <%- site.data.head[i] %>
        <% } %>
    <% } %>

</head>
